streamlit==1.42.2
streamlit_chat==0.1.1 
crawl4ai==0.4.248
nest_asyncio==1.6.0
langchain==0.3.19
langchain_community==0.3.18
langchain_core==0.3.40 
langchain_openai==0.3.7
langchain_ollama==0.2.3
faiss-cpu==1.10.0
couchbase==4.3.6
unstructured==0.16.23
datasets==3.6.0
markdown==3.7
python-dotenv==1.0.1
sentence-transformers==3.4.1
langchain-huggingface==0.1.2
playwright==1.50.0
ipykernel
streamlit-aggrid==1.1.4.post1
highcharts-core==1.10.3
highcharts-stock==1.7.0
highcharts-maps==1.7.1
highcharts-gantt==1.7.0